/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the background image */
}


.container {
    width: 80%;
    max-width: 800px; /* Adjust max-width as needed */
    margin: 20px auto;
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.animal-info {
    text-align: center;
    margin-bottom: 20px;
}

.animal-info h2 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.animal-info p {
    font-size: 18px;
    margin: 5px 0;
    color: #666;
}

.animal-info img {
    width: 100%;
    max-width: 100px; /* Set a maximum width for the image */
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.top-buttons {
    position: fixed; /* Position buttons fixed */
    top: 50px; /* Place buttons at the top */
    left: 0; /* Align buttons to the left */
    z-index: 1; /* Ensure buttons are above other content */
    background-color: white; /* Optional: Add background color to the buttons */
    padding: 50px 0 0 20px; /* Adjust padding to make the buttons bigger */
}

button {
    font-size: 24px; /* Increase the font size */
    padding: 2px 2px; /* Adjust padding to make the buttons bigger */
}
